:javascript
  var geocoder;
  var map;
  var directionsDisplay;
  var directionsService = new google.maps.DirectionsService();
  google.maps.event.addDomListener(window, 'load', initialize);

#map-container
  #map-canvas

%header.search-pane
  %h1= t('title')

  %form.search#search
    .search-location
      %input#start{ name: 'query', placeholder: 'Address / City / Zip' }
      %button{:class => "btn btn-options"}= t('search_button')

    .options
      %p= t('looking_for')
      .search-type
        %ul
          %li
            %input{ :id => "groceries", :type => "checkbox", :name => 'groceries', value: '1' }
            %label{ :for => "groceries" }= t('search_option_groceries')
          %li
            %input{ :id => "hot_meals", :type => "checkbox", :name => 'hot_meals', value: '1' }
            %label{ :for => "hot_meals" }= t('search_option_hot_meals')
          %li
            %input{ :id => "brown_bag", :type => "checkbox", :name => 'brown_bag', value: '1' }
            %label{ :for => "brown_bag" }= t('search_option_brown_bag')
          %li
            %input{ :id => "open_now", :type => "checkbox", :name => 'open_now', value: '1' }
            %label{ :for => "open_now" }= t('search_option_open_now')

.results-container
  %main.results-pane.slide
    %h2= t('results_header')
    %hr
    #results
      .text-center= image_tag('logo.jpg')
