:javascript
  var geocoder;
  var map;
  var directionsDisplay;
  var directionsService = new google.maps.DirectionsService();
  google.maps.event.addDomListener(window, 'load', initialize);

#map-canvas

%header.search-pane
  %h1= t('title')

  %form.search#search{ name: 'searchForm' }
    .search-location
      %input#start{ 'name' => 'query', 'placeholder' => 'Address / City / Zip', 'ng-model' => 'query' }
      %button{:class => "btn btn-options", 'ng-click' => 'performSearch()'}= t('search_button')

    .options
      %p= t('looking_for')
      .search-type
        %ul
          %li
            %input{ :id => "groceries", :type => "checkbox", :name => 'groceries', value: '1' }
            %label{ :for => "groceries" }= t('search_option_groceries')
          %li
            %input{ :id => "hot_meals", :type => "checkbox", :name => 'hot_meals', value: '1' }
            %label{ :for => "hot_meals" }= t('search_option_hot_meals')
          %li
            %input{ :id => "brown_bag", :type => "checkbox", :name => 'brown_bag', value: '1' }
            %label{ :for => "brown_bag" }= t('search_option_brown_bag')

.results-container
  %main.results-pane.slide
    %h2= t('results_header')
    %hr
    #results
      .result{ 'ng-repeat' => 'agency in agencies' }
        %h3
          %a.show-agency{ href: '#', data: { lat: '{{agency.latitude}}', long: '{{agency.longitude}}' } }
            {{agency.type}} - {{agency.agency}}
        %p.address
          {{agency.address}}, {{agency.city}}, {{agency.state}}, {{agency.zip}}
        %p.phone
          {{agency.phone}}
        %p.distance{ 'ng-if' => 'agency.distance' }
          {{agency.distance}} miles away.
        %p.hours
          {{agency.hours}}

        %button.btn.get-directions{ data: { lat: '{{agency.latitude}}', long: '{{agency.longitude}}' } }
          Get Directions

        %hr
