:javascript
  var geocoder;
  var map;
  var directionsDisplay;
  var directionsService = new google.maps.DirectionsService();
  google.maps.event.addDomListener(window, 'load', initialize);

#map-container
  #map-canvas

%header.search-pane
  %h1= t('title')

  %form.search#search
    .search-location
      %input#start{ name: 'query', placeholder: 'Address / City / Zip' }
      %button{:class => "btn btn-options"}= t('search_button')

    .options
      %p= t('looking_for')
      .search-type
        %ul
          %li
            %input{ :id => "groceries", :type => "checkbox", :name => 'groceries', value: '1' }
            %label{ :for => "groceries" }= t('search_option_groceries')
          %li
            %input{ :id => "hot_meals", :type => "checkbox", :name => 'hot_meals', value: '1' }
            %label{ :for => "hot_meals" }= t('search_option_hot_meals')
          %li
            %input{ :id => "brown_bag", :type => "checkbox", :name => 'brown_bag', value: '1' }
            %label{ :for => "brown_bag" }= t('search_option_brown_bag')
          %li
            %input{ :id => "open_monday", :type => "checkbox", :name => 'open_monday', value: '1' }
            %label{ :for => "open_monday" }= t('search_option_open_monday')
            %input{ :id => "open_tuesday", :type => "checkbox", :name => 'open_tuesday', value: '1' }
            %label{ :for => "open_tuesday" }= t('search_option_open_tuesday')
            %input{ :id => "open_wednesday", :type => "checkbox", :name => 'open_wednesday', value: '1' }
            %label{ :for => "open_wednesday" }= t('search_option_open_wednesday')
            %input{ :id => "open_thursday", :type => "checkbox", :name => 'open_thursday', value: '1' }
            %label{ :for => "open_thursday" }= t('search_option_open_thursday')
            %input{ :id => "open_friday", :type => "checkbox", :name => 'open_friday', value: '1' }
            %label{ :for => "open_friday" }= t('search_option_open_friday')
            %input{ :id => "open_saturday", :type => "checkbox", :name => 'open_saturday', value: '1' }
            %label{ :for => "open_saturday" }= t('search_option_open_saturday')
            %input{ :id => "open_sunday", :type => "checkbox", :name => 'open_sunday', value: '1' }
            %label{ :for => "open_sunday" }= t('search_option_open_sunday')

.results-container
  %main.results-pane.slide
    %h2= t('results_header')
    %hr
    #results
      .text-center= image_tag('logo.jpg')
